<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Template</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <h1>This is the CSS Template</h1>
</body>
</html>
