<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<body>
    <h1>Custom Function Example</h1>
    <p>Current Date: {{ .now | FormatAsDate }}</p>
</body>
</html>
